<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPFC - menu</title>
    <script src="/static/js/menu_carousel.js" defer></script>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>

    <header>
        <img src="static/img/tempLogo.png"class="header-logo">
        <h3>Acceuil</h3>
        <h3>Mission</h3>
        <h3>Nous joindre</h3>
        <h3>Actualité</h3>
        <h3 style="padding-right: 100px";>Cours offerts</h3>
    </header>

    <hr>

    <main>
        <center>
	<div class="carousel-frame">

	    <button class="btn-center">Inscriptions</button>
	    <button class="btn-nav btn-gauche">❮</button>

        <div class="carousel-rail">
    	    <img class="diapo" src="static/img/images.jpeg" alt="Description 1">
            <img class="diapo" src="static/img/carrousel2.jpg" alt="Description 2">
            <img class="diapo" src="static/img/carrousel3.jpg" alt="Description 3">
	</div>
            <button class="btn-nav btn-droite">❯</button>

        </div>
	</center>

    </main>

    <footer>
        <div>
            <h3>Menu</h3>
            <a href="#">Acceuil</a>
            <a href="#">Mission</a>
            <a href="#">Nous joindre</a>
            <a href="#">Actualité</a>
        </div>
        <div>
            <h3>Nous Joindre</h3>
            <a href="#">6769, El Rancho LS (Los Santos) G5B 2H9</a>
            <a href="#">Tél. : 418 872-6767</a>
        </div>
    </footer>

</body>
</html>
